<div class="navbar">
  <div class="navbar-inner" style="background: #2f3031;">
    <div class="left"><a href="#" class="back link" data-force="true"><i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding" style="color:white;">Lokasi Pembelian</div>
    <div class="right">
        <!-- <a href="#" data-picker=".picker-issue-list" class="link open-picker" id="icon-list-issue">
            <i class="icon ion-ios-more color-gray"></i>
        </a> -->
    </div>
   

  </div>
</div>

<div class="pages navbar-through toolbar-through">
          <!-- Page, data-page contains page name-->
    <div class="page no-swipeback" data-page="purchase_menu">

            <!-- Scrollable page content-->
            <div class="page-content" id="purchase_menu" style="overflow-x: hidden;max-width: 100%;">

                 <div class="content-block-inner">

                
                      <div style="margin-top: 15px;padding: 6px;border-bottom-style: solid;margin-right: 15px;margin-left: 12px;border-bottom-width: thin;border-bottom-color: #7ebfa0;"><i class="icon f7-icons" style="position: absolute;color:gray;">home_fill</i><textarea class="example-two" type="text" style="background: transparent;border: none;font-size: 16px;margin-left: 37px;width: 88%;height: 58px;" id="vendor_location" placeholder="Lokasi Petani"></textarea></div>
                      
                      <div class="accordion-list" style="margin-top:10px;margin-left:12px;">
                        <div class="accordion-item accordion-help-location">
                          <div class="accordion-item-toggle">
                            <i class="icon f7-icons" style="color:black;font-size: 20px;">help_fill</i>
                           
                            <span>Bantuan Lokasi</span>
                          </div>
                          <div class="accordion-item-content">
                            <p><a href="#" class="button button-round button-fill" id="location_choose" style="width: 45%;margin-left: 11px;">Cari Lokasi Via Map</a></p>
                          </div>
                        </div>
                      </div>

                       <div id="map_vendor" style="width: 100%; height: 93%;" style="display:none;"></div>

                       <div id="transaction_place_list">
                         
                       </div>

                </div>
               

            </div>
    </div>


</div>