<div class="navbar">
  <div class="navbar-inner" style="background: #2f3031;">
    <div class="left"></div>
    <div class="center sliding" style="color:white;">Notifikasi</div>

  </div>
</div>

<div class="pages navbar-through toolbar-through">
          <!-- Page, data-page contains page name-->
    <div class="page no-swipeback" data-page="order_final_shop_list">
            <!-- Scrollable page content-->
            <div class="page-content" id="order_final_shop_list" style="overflow-x: hidden;max-width: 100%;background: #205f94;">

            <div class="content-block-title" style="text-align: center;"><i class="icon f7-icons" style="color: #16b9fb;font-size: 68px;">check_round_fill</i></div>

              <div class="content-block inset">
                <div class="content-block-inner">Pesanan anda telah berhasil kami terima, mohon lakukan pembayaran paling lambat 24 jam, Untuk Detail pesanan telah dikirimkan lewat email. </div>
              </div>

               <div class="content-block">
                  <p><a href="#" id="continue_shopping_btn" class="button button-big button-fill" style="background:#a42f2f;">Lanjutkan Belanja</a></p>
                  <p><a href="#" id="check_status_order_btn" class="button button-big button-fill" style="background:#4f9661;">Cek Status Order</a></p>
              </div>

        </div>
  </div>


</div>