<div class="navbar">
  <div class="navbar-inner" style="background: #2f3031;">
    <div class="left"><a href="index.html" class="back link" data-force="true"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding" style="color:white;">Pilih Komoditas</div>
    <div class="right">
        <!-- <a href="#" data-picker=".picker-issue-list" class="link open-picker" id="icon-list-issue">
            <i class="icon ion-ios-more color-gray"></i>
        </a> -->
    </div>
    <div class="subnavbar" style="height: 77px;margin-top: -13px;background: #2f3031;">
          <div class="toolbar tabbar" style="background: #2f3031;height: 62px;">
                  <div class="toolbar-inner" style="background: #2f3031;">
                      <a href="#tabAllShopComodity" style="font-size: x-small;margin-top: 17px;" class="tab-link tab-shop-comodity-category active" id="tab_sembako_shop_comodity">
                       <img src="img/allbar-blue.png" style="max-width: 40%;" id="img_sembako_shop_comodity">
                       <span class="tabbar-label"><b>SEMBAKO</b></span>
                    </a>
                    <a href="#tabVegetableShopComodity" style="font-size: x-small;margin-top: 12px;" class="tab-link tab-shop-comodity-category" id="tab_sayur_shop_comodity">
                        <img src="img/vegetablebar.png" style="max-width: 40%;margin-top: 4px;" id="img_sayur_shop_comodity">
                         <span class="tabbar-label"><b>SAYUR</b></span>
                    </a>
                    <a href="#tabFruitShopComodity" style="font-size: x-small;    margin-top: 9px;" class="tab-link tab-shop-comodity-category" id="tab_buah_shop_comodity">
                        <img src="img/fruitbar.png"  id="img_buah_shop_comodity" style="max-width: 50%;margin-top: 4px;">
                         <span class="tabbar-label"><b>BUAH</b></span>
                    </a>
                    <a href="#tabPacketShopComodity" style="font-size: x-small;" class="tab-link tab-shop-comodity-category" id="tab_olahan_shop_comodity">
                       <img src="img/olahan.png" style="margin-top: 10px;margin-bottom: 4px;max-width: 40%;" id="img_olahan_shop_comodity">
                      <span class="tabbar-label"><b>OLAHAN</b></span>
                    </a>
                  </div>
              </div>
    </div>  

  </div>
</div>

<div class="pages navbar-through toolbar-through">
          <!-- Page, data-page contains page name-->
    <div class="page no-swipeback" data-page="shop_comodity_list">

            <!--  -->

            <!-- Scrollable page content-->
            <div class="page-content" id="shop_comodity_list" style="overflow-x: hidden;max-width: 100%;">

              <!-- content item grid -->
              <div id="shop_comodity_grid_list" style="margin-top: 61px;"></div>
               

        </div>
  </div>


</div>